.product-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px auto;
    width: 70%;
  }
  
  .product-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .product-container p {
    margin-bottom: 10px;
  }
  