/* StaffDisplay.css */

.CSD_count {
  font-size: 18px;
  margin-bottom: 20px;
  margin-left: 140px;
}

.CcSD_title {
  text-align: center;
  color: #2A3C24;
}

.CcSD_title_card {
  padding: 50px;
  background-color: #CAD593;
  margin-bottom: 30px;
}

.SD_containor {
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sd_UL {
  list-style-type: none;
  padding: 0;
}

.sd_UL li {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  background-color: #EFEFEF;
  position: relative; /* Ensure relative positioning for absolute positioning of delete button */
}

.SD_complaintsName {
  font-weight: bold;
}

.SD_email,
.SD_description,
.cSD_status {
  margin-top: 5px;
}

.cSD_change {
  margin-top: 10px;
  font-weight: bold;
  display: flex; /* Add flex display for aligning status and delete button */
  justify-content: space-between; /* Ensure space between status and delete button */
}

.cSD_status select {
  margin-left: 10px;
}

.btnDel {
  background-color: #143109;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  position: absolute; /* Position the delete button absolutely */
  top: 10px; /* Adjust top position as needed */
  right: 10px; /* Adjust right position as needed */
}

.btnDel:hover {
  background-color: #0ddb3d;
}
.FSD_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust transparency here */
  z-index: 1000; /* Ensure the overlay is on top of everything */

}

.FSD_ove {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #143109;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 820px;
  margin-bottom: 20px;
}

.FSD_ove:hover{
  background-color: #0ddb3d;
}

.CcSD_download_complaints_btn {
  padding: 10px 20px;
    font-size: 16px;
    background-color: #143109;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 100px;
    margin-bottom: 20px;
}

.CcSD_download_complaints_btn:hover{
  background-color: #0ddb3d;
}

.overlay-active {
  position: relative;
  z-index: 2000; /* Ensure the filtered complaints are on top of the overlay */
}
