
.seller-single-product-page {
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.seller-single-product-details {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 50%;
}

.seller-single-product-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.seller-single-product-category {
  font-size: 14px;
  color: #888;
  margin-bottom: 16px;
}

.seller-single-product-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.seller-single-in-stock {
  font-size: 14px;
  color: #4caf50;
  margin-right: 16px;
}

.seller-single-reviews {
  font-size: 14px;
  color: #888;
  margin-right: 16px;
}

.seller-single-rating {
  font-size: 14px;
  color: #ffc107;
  margin-right: 16px;
}

.seller-single-product-price {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.seller-single-product-quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

.seller-single-product-quantity-label {
  font-size: 20px;
  color: #000000;
  margin-right: 16px;
}

.seller-single-product-quantity-selection {
  display: flex;
  flex-direction: row;
  text-align: right;
}

.seller-single-product-quantity-selection label {
  font-size: 20px;
}

.seller-single-product-supplier {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.seller-single-supplier-name {
  font-size: 14px;
  color: #555;
  margin-right: 16px;
}

.seller-single-supplier-details {
  display: flex;
  flex-direction: column;
}

.seller-single-supplier-location {
  font-size: 14px;
  color: #888;
  margin-bottom: 8px;
}

.seller-single-supplier-verification {
  font-size: 14px;
  color: #4caf50;
}

/* .seller-single-product-description-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  } */

.seller-single-product-description {
  font-size: 14px;
  color: #555;
  margin-bottom: 16px;
}

/*.product-tab-links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
 */


/* .product-reviews-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .seller-single-product-reviews {
    display: flex;
    flex-direction: column;
  }
  
  .review {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  
  .review-name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .review-rating {
    font-size: 14px;
    color: #FFC107;
    margin-bottom: 8px;
  }
  
  .review-text {
    font-size: 14px;
    color: #555;
  } */

/* .product-shipping-title {
    font-size: 18px;
    font-weight: bold;margin-bottom: 8px;
  } */

.seller-single-product-shipping {
  font-size: 14px;
  color: #555;
}

.seller-single-product-image {
  width: 50%;
  overflow: hidden;
}

.seller-single-product-image img {
  width: 100%;
  padding: 20px;
  height: auto;
}

.single-productDetail-content {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.seller-single-product-button {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #47474753;
  color: #000000;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.seller-single-product-button:hover {
  background-color: #04461b;
  color: white;
  transition: background-color 0.3s ease;
}

.seller-single-product-button.active {
  background-color: #0c7d34;
  color: white;
}

.add-to-bag-button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #205621;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-to-bag-button:hover {
  background-color: #45a049;
}
