.all-blogs {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px 20px 20px;
    text-align: center;
  }
  
  .all-blogs header {
    margin-bottom: 40px;
    text-align: left;
  }
  
  .all-blogs header h1 {
    font-size: 36px;
    color: #6c757d;
  }
  
  .all-blogs header p {
    font-size: 18px;
    color: #adb5bd;
  }
  
  .blogs-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .blog-card {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .image-container {
    width: 100%;
    height: 450px; /* You can adjust this height as needed */
    overflow: hidden;
    border-radius: 15px 15px 0 0;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .blog-content {
    position: absolute;
    bottom: 0;
    left: 50%; 
    background: rgba(255, 255, 255, 0.777);
    color: rgb(48, 67, 52);
    padding: 20px;
    box-sizing: border-box;
    border-radius:15px 0 0 0 ;
  }
  
  .blog-date {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .load-more {
    margin: 40px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #6c757d;
    border: 2px solid #6c757d;
    border-radius: 25px;
    background: transparent;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
  }
  
  .load-more:hover {
    background: #3c5a47;
    color: white;
  }

  @media (max-width: 768px) {
    .blogs-grid {
      grid-template-columns: repeat(2, minmax(120px, 1fr));
    }

    .all-blogs {
      max-width: 1000px;
    }

    .image-container {
      height: 200px;
    }

    .blog-content {
      font-size: 10px;
    }

    .blog-content h3{
      font-size: 10px;
    }
    
    .blog-date {
      font-size: 10px;
      margin-bottom: 10px;
    }
  }
  