.recommended-flex-custom {
  display: flex;
  margin-left: 5rem;
}

.recommended-title-custom {
  margin-left: 5rem;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
  text-align: left;
}

.recommended-button-custom {
  margin-right: 10px;
  color: grey;
}
