body{
    background-color: #EFF2F4;
    display: flex;
    flex-direction: column;      
}

.loginimg{
    height: 850px;    
}

.loginimg2{
    height: 850px;    
    margin-left: 650px;
}

.mainlogin{
    
    display: flex;
}

.login{
    flex: 1px; 
    margin-top: 60px; 
    margin-left: 840px;
    width: max-content;  
    text-align: center;         
}

.loginphoto{
    position: fixed;    
}

.wel{
    font-family: 'Plus Jakarta Sans';
    font-style: bold;       
    font-size: 35px;    
    color: #5D7285;
}

.wel2{
    font-family: 'Plus Jakarta Sans';
    font-style: bold;    
    margin-top: -30px;   
    font-size: 20px;    
    color: #5D7285;
}

.username{   
    background: rgba(102, 122, 138, 0.534);
    border-radius: 8px;
    margin-left: 2px;
    margin-top: 15px;
    padding: 20px;
    padding-right: 45px;
    width: 400px;
    text-align: left; 
}

.logintxt{
    font-family: 'Bahnschrift';
    font-style: normal;    
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    color: #363f47;
}

.loginbox{
    font-family: 'Bahnschrift'; 
    font-style: bold;    
    font-size: 16px;
    color: #000000;
    width: 100%;    
    line-height: 28px;
    padding: 7px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    background-color: #bbcad6;
}

form{
    margin-left: 100px;
}

button{
    width: 300px;
    background: #667A8A;
    border-radius: 8px;
    padding: 10px;
    padding-top: 13px;
    font-family: 'Bahnschrift';
    font-style: normal;    
    font-weight: 700;
    font-size: 20px;
    border: none;
    margin-right: 75px;
}

button:hover{
    background: rgba(102, 122, 138, 0.534);
}

.reset{    
    font-family: 'Bahnschrift';
    font-style: normal;     
    font-size: 15px;
}

.forget{
    font-family: 'Bahnschrift';
    font-style: bold;      
    font-size: 16px;
    color: #000000;
    margin-top: 20px;
    margin-right: 410px;
}

.register{
    font-family: 'Bahnschrift';
    font-style: bold;      
    font-size: 14px;
    color: #000000;
    margin-top: 10px;
    margin-right: 70px;
}

.troub1{
    font-family: 'Plus Jakarta Sans';
    font-style: bold;    
    font-size: 30px;    
    color: #5D7285;
}

.troub2{
    margin-top: -20px;
    font-family: 'Plus Jakarta Sans';
    font-style: bold;    
    font-size: 15px;    
    color: #5D7285;
}

.adminmanagerbtn{
    margin-left: 65px;
}




