.Staff-nav-list {
    list-style-type: none;
    padding: 0;
  }
  
  .staff-sidebar-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
  }
  
  .staff-sidebar-link:hover {
    background-color: #f0f0f0;
  }
  
  .staff-sidebar-link.active {
    background-color: #ddd;
  }
  