*{
    text-decoration: none;
}

.sidenavbar{
    position: fixed;
    background-color: white;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;   
    padding-top: 30px;
    padding-left: 20px;
    z-index: 1;    
    
}

.navimage{
    width: 25px;
    height: 25px;    
}

.sidenavbarul{     
    list-style-type: none;
    margin-right: 20px;
    margin-left: -40px;
}

.sidenavbarul li{    
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.sidenavbarul a{
    font-family: 'Calibri';      
    font-weight:500; 
    font-size: 20px;    
    color: #8A8A8A;    
}

.sidenavbarul li:hover{
    background-color: #C6E6FF;    
    color: #2F87D6;           
}

a:hover{
    color: #2F87D6;  
    font-weight:bold;
          
} 

.logoutbtn{
    width: fit-content;
    background-color: transparent;
    padding-top: 3px;   
    padding-bottom: 3px;    
}

.logoutbtn:hover{
    color: #2F87D6;  
    font-weight:bold;
    background-color: transparent;
}

.logoutsq{
    background-color: #667A8A;
    display: flex;
    flex-direction: row;     
}
