.profilecontent{
    margin-left: 250px;  
}

.hellotxt{
    font-family: 'Bahnschrift';    
    font-weight: 400;
    font-size: 20px;     
    letter-spacing: 0.005em;
    color: #0C7FDA;    
}

.hellopic{
    width: 70px;
    height: 70px;   
    margin-left: 20px;
}

.tbllogo{
    width: 1000px;
}

.usertxt{
    font-family: 'Bahnschrift';    
    font-weight: 800;
    font-size: 25px;
    color: #384D6C;
}

.line1 {
    border-bottom: 2px solid #D0D0D0;
    margin-top: -5px;
    width: 10%;
    margin-bottom: 10px;
}

.line {
    border-bottom: 2px solid #D0D0D0;
    margin-top: -5px;
    width: 90%;
    margin-bottom: 10px;
}

.btnedit{
    width: 150px;
    margin-left: 20px;
    color: white;
    font-family: 'Bahnschrift';    
    font-weight: 800;
    font-size: 18px;
}

.userprofiletxt{
    font-family: 'Bahnschrift';    
    font-weight: 800;
    font-size: 20px;
    color: #384D6C;
}

.profilebox{
    font-family: 'Bahnschrift';    
    font-size: 16px;
    color: #667A8A;
    background-color: #EFF2F4;
    width: 80%;    
    line-height: 28px;
    padding: 7px;
    margin-top: -8px;
    border-radius: 10px;
    border: none; 
}

.gendertbl{
    margin-top: -20px;
}

.gendertxt{
    font-family: 'Bahnschrift';    
    font-size: 16px;
    color: #000000a1;
    line-height: 28px;
}

.conatctcol{
    width: 550px;
}

.btnup{
    width: 200px;
    margin-left: 20px;
    color: white;
    font-family: 'Bahnschrift';    
    font-weight: 800;
    font-size: 18px;
}

.profileboxshow{
    font-family: 'Bahnschrift';    
    font-size: 16px;
    color: #000000;
    background-color: #ffffff;
    width: 80%;    
    line-height: 28px;
    padding: 7px;
    margin-top: -8px;
    border-radius: 10px;
    border: none; 
}

.searchbar{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #D0D0D0;
    padding-left: 10px;    

}

.searchbarcol{
    width: 800px;
    margin-left: 20px;
}

.updateform{
    margin-left: -90px;
}