.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.seller-req {
    position: relative;
}

.seller-req img {
    width: 100%;
    display: block; /* Ensure no extra space below the image */
}

.seller-request-button {
    position: absolute;
    bottom: 40px; /* Adjust this value as needed */
    right: 190px; /* Adjust this value as needed */
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.seller-request-button:hover {
    background-color: #218838;
}

@media (max-width: 768px) {
    
    .seller-req img {
        width: 100%;
        height: 300px;
        display: block; /* Ensure no extra space below the image */
    }
    
    .seller-request-button {
        position: absolute;
        bottom: 40px; /* Adjust this value as needed */
        right: 30px; /* Adjust this value as needed */
    }
    
    .seller-request-button:hover {
        background-color: #218838;
    }
}