.staff-proposals-changes-container {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.staff-proposals-search {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

.staff-proposals-table {
  width: 100%;
  border-collapse: collapse;
}

.table-header-staff-table-header{
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 8px;
}

.staff-table-item {
  border: 1px solid #ddd;
  padding: 8px;
}

.staff-proposals-update-button {
  margin: 0 5px;
  padding: 0.5rem 1rem;
  background-color: #333333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}
.staff-proposals-update-button:hover{
  background-color: #4b4f4b;
}

.Inventory-approve-button,
.Inventory-reject-button {
  margin: 4px;
  display: inline-block;
}

.Inventory-approve-button{
  padding: 0.5rem 1rem;
  background-color: #333333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.Inventory-reject-button{
  padding: 0.5rem 1rem;
  background-color: #e62f13;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}


.status-approved {
  font-weight: bold;
  color: #333333;
}

.status-rejected {
  font-weight: bold;
  color: red;
}
