.FHS_containor1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 800px; /* Set a minimum height */
}

.FHS_containor2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FHS_feedback {
  display: none;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.FHS_feedback.visible {
  display: block;
}

.FHS_image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.FHS_Pname {
  font-weight: bold;
  margin-bottom: 5px;
}

.FHS_ratings {
  margin-bottom: 10px;
}

.FHS_star {
  color: #ccc;
  font-size: 1.5em;
}

.FHS_star.gold {
  color: gold;
}

.FHS_message {
  font-style: italic;
  color: #666;
}
