.FHS_containor1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 800px; /* Set a minimum height */
  /* background-image: url('leaave01.png'); /* Replace 'your-background-image-url.jpg' with your actual image URL
  background-size: cover;
  background-position: center; */
}

.FHS_containor2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 350px;
  /* background-color: #143109; */
  transform-style: preserve-3d;
  animation: animate 5s linear infinite;
  
}

.FHS_feedback {
  display: none;
  padding: 20px;
}

.FHS_feedback.visible {
  display: block;
}

.FHS_containor3 {
  display: flex;
  flex-direction: column;
}

.FHS_image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5%;
  margin-bottom: 10px;
}

.FHS_Pname {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.FHS_ratings {
  margin-bottom: 10px;
  text-align: left;
}

.FHS_star {
  color: #ccc;
  font-size: 1.5em;
}

.FHS_star.gold {
  color: gold;
}

.FHS_message {
  font-style: italic;
  color: #666;
  text-align: left;
  min-width: 90%; /* Adjust this value as needed */
}

@keyframes animate{
  30%{
    transform: perspective(1000px) rotateY(0deg);
  }
  100%{
    transform: perspective(1000px) rotateY(360deg);
  }
}