.my-orders-all-contents {
    padding: 20px;
  }
  
  .my-orders-all-contents h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .my-orders-order-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .my-orders-order {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }
  
  .my-orders-order p {
    margin: 5px 0;
  }
  
  .my-orders-order p:first-child {
    font-weight: bold;
  }
  
  .my-orders-order-actions-fc{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }