.consultationHome-header{
  background-color: #cad593;
  justify-content: center;
  padding-left: auto;
  padding-right: auto;
  width: 80%;
  text-align: center; 
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

