.consultation-home-contents {
    /* Add default styles here */
  }
  
  .consultation-home-contents-flex-display {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
      