.giftPackage-default-update {
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    background-color: #F7F7F7;
    padding: 20px 20px;
    box-shadow:0 0 2.5rem rgba(0, 0, 0,0.28);
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.giftPackage-default-update .btn {
    padding:10px;
    font-size: 15px;
    background: #143109;
    color:#fff;
    cursor: pointer;
    border-radius: 10px;
}

.GiftUpdate-header {
    color: #143109;
    margin-top: 20px;
}

.UDGPS_title_card{
    padding: 50px;
    background-color: #CAD593;
    margin-bottom: 100px;
}

.UDGPS_title {
    text-align: center;
    color: #2A3C24;
}
