.giftPackage-order-container {
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    background-color: #F7F7F7;
    padding: 20px 20px;
    box-shadow:0 0 2.5rem rgba(0, 0, 0,0.28);
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.ReportDownload-button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-bottom: 20px;
}

.ReportDownload-button-container .btn {
    padding:10px;
    font-size: 15px;
    background: #143109;
    color:#fff;
    cursor: pointer;
    border-radius: 10px;
}

.GiftOrder_title_card{
    padding: 50px;
    background-color: #CAD593;
    margin-bottom: 100px;
}

.GiftOrder_title {
    text-align: center;
    color: #2A3C24;
}

.GiftOrder_card_btn .cancel-btn{
    padding: 8px 16px;
    font-size: 15px;
    background: #143109;
    color:#fff;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
}

.GiftOrder_seching{
    margin: 20px;
  padding: 5px;
  max-width: 250px;
}