/* AddFeedback.css */

.F_conCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.F_containor1 {
  font-family: Arial, sans-serif;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 50%;
  
}

.F_containor2 {
  margin-bottom: 10px;
}

.F_title{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.F_ratings span {
  color: #FFD700;
  cursor: pointer;
  font-size: 45px;
}

.F_ratings span:hover,
.F_ratings span:hover ~ span,
.F_ratings span.selected,
.F_ratings span.selected ~ span {
  color: rgb(0, 0, 0);
}

.F_message textarea {
  width: 100%;
  height: 100px;
  padding: 5px;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  background-color: #f1f1f1;
}

.F_image input[type="file"] {
  margin-top: 5px;
}

.Feedbackbtn {
  padding: 10px 20px;
  background-color: #119443;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.Feedbackbtn:hover {
  background-color: #1bd656;
  color: black;
}
