*{
    text-decoration: none;
}

.sidenavbar{
    position: fixed;
    background-color: white;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;   
    padding-top: 30px;
    padding-left: 20px;
    z-index: 1;    
    
}

.navimage{
    width: 25px;
    height: 25px;    
}

.sidenavbarul{     
    list-style-type: none;
    margin-right: 20px;
    margin-left: -40px;
}

.sidenavbarul li{    
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.sidenavbarul a{
    font-family: 'Calibri';      
    font-weight:500; 
    font-size: 20px;    
    color: #8A8A8A;    
}

.sidenavbarul li:hover{
    background-color: #C6E6FF;    
    color: #2F87D6;           
}

a:hover{
    color: #2F87D6;  
    font-weight:bold;
          
} 

.logoutbtn{
    width: fit-content;
    background-color: transparent;
    padding-top: 3px;   
    padding-bottom: 3px;    
}

.logoutbtn:hover{
    color: #2F87D6;  
    font-weight:bold;
    background-color: transparent;
}

.logoutsq{
    background-color: #667A8A;
    display: flex;
    flex-direction: row;     
}

.profilecontent{
    margin-left: 250px;  
}

.hellotxt{
    font-family: 'Bahnschrift';    
    font-weight: 400;
    font-size: 20px;     
    letter-spacing: 0.005em;
    color: #0C7FDA;    
}

.hellopic{
    width: 70px;
    height: 70px;   
    margin-left: 20px;
}

.tbllogo{
    width: 1000px;
}

.usertxt{
    font-family: 'Bahnschrift';    
    font-weight: 800;
    font-size: 25px;
    color: #384D6C;
}

.line1 {
    border-bottom: 2px solid #D0D0D0;
    margin-top: -5px;
    width: 10%;
    margin-bottom: 10px;
}

.line {
    border-bottom: 2px solid #D0D0D0;
    margin-top: -5px;
    width: 90%;
    margin-bottom: 10px;
}

.btnedit{
    width: 150px;
    margin-left: 20px;
    color: white;
    font-family: 'Bahnschrift';    
    font-weight: 800;
    font-size: 18px;
}

.userprofiletxt{
    font-family: 'Bahnschrift';    
    font-weight: 800;
    font-size: 20px;
    color: #384D6C;
}

.profilebox{
    font-family: 'Bahnschrift';    
    font-size: 16px;
    color: #667A8A;
    background-color: #EFF2F4;
    width: 80%;    
    line-height: 28px;
    padding: 7px;
    margin-top: -8px;
    border-radius: 10px;
    border: none; 
}

.gendertbl{
    margin-top: -20px;
}

.gendertxt{
    font-family: 'Bahnschrift';    
    font-size: 16px;
    color: #000000a1;
    line-height: 28px;
}

.conatctcol{
    width: 550px;
}

.btnup{
    width: 200px;
    margin-left: 20px;
    color: white;
    font-family: 'Bahnschrift';    
    font-weight: 800;
    font-size: 18px;
}

.profileboxshow{
    font-family: 'Bahnschrift';    
    font-size: 16px;
    color: #000000;
    background-color: #ffffff;
    width: 80%;    
    line-height: 28px;
    padding: 7px;
    margin-top: -8px;
    border-radius: 10px;
    border: none; 
}

.searchbar{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #D0D0D0;
    padding-left: 10px;    

}

.searchbarcol{
    width: 800px;
    margin-left: 20px;
}

.updateform{
    margin-left: -90px;
}