.HPB_image img {
    max-width: 100%;
    height: auto; /* Ensures the image maintains its aspect ratio */
    display: block; /* Ensures the image is displayed as a block element */
    margin: 0 auto; /* Centers the image horizontally */
}

@media (max-width: 768px) {
    
    .HPB_image img {
        max-width: 100%;
        height: 300px; /* Ensures the image maintains its aspect ratio */
    }
}