.form-container-inventory-add {
    width: 70%;
    margin: 0 auto;
    border-radius: 10px; /* Add small radius */
    background-color: #f2f2f2; /* Set grey background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
  }
  

  .form-legend {
    margin-left: 20px; /* Set margin-left to 20px */
    margin-top: 20px;
  }
  
  .form-group-inventory-add{
    margin-bottom: 1rem;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input[type="text"],
  input[type="number"],
  textarea,
  select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
  }
  
  .inventory-manager-add {
    padding: 0.5rem 1rem;
    background-color: #129a10;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  .inventory-manager-add:hover {
    background-color: #095a07;
  }
  