.seller-manager-donut-chart {
    border-radius: 5px; /* Add border radius for card-like appearance */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
    border: 1px solid #ccc;
  }
  