.seller-manager-sidebar {
    position: fixed;
	  top: 0;
	  left: 0;
	  width: 280px;
	  height: 100%;
    z-index: 2000;
    overflow-x: hidden;
	  scrollbar-width: none;
    background-color: #333;
    margin: 10px;
    border-radius: 10px;
  }
  
  .seller-manager-sidebar-nav {
    list-style-type: none;
    padding: 20px;
  }
  
  .seller-manager-sidebar-item {
    margin-bottom: 10px;
  }
  
  .seller-manager-sidebar-link {
    display: block;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
  }
  
  .seller-manager-sidebar-link:hover,
  .seller-manager-sidebar-link.active {
    color: #fff;
    background-color: #555;
  }