.userSearchingsearchBarnav {
}

.userSearchingsearchBarnav-container {
  display: flex;
  align-items: center;
  width:70%;
}

.userSearchingsearchBarnav-search-input {
  padding: 12px 20px;
  border: none;
  background: #f7f6f6;
  outline: none;
  border-radius: 5px;
  width: 400px; /* Increased width for better visibility */
}
