nav {
  display: flex;
  border-bottom: 2px solid #f3f3f3;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 999;
}

.nav-container {
  display: flex;
  align-items: center;
  width:70%;
}

.search-input {
  padding: 12px 20px;
  border: none;
  background: #f7f6f6;
  outline: none;
  border-radius: 5px;
  width: 400px; /* Increased width for better visibility */
}

.profile-container {
  display: flex;
  align-items: center;
  width:30%;
}

.profile-container a {
  margin-left: 20px;
}

.nav-icons {
  width: 1.5rem;
  height: 1.5rem;
  color: black;
}
