.myConsultations-customer-container {
    display: flex;
  }
  
  .myConsultations-customer-nav-bar {
    flex: 0 0 200px; /* Set the width of the navbar */
    background-color: #f0f0f0; /* Background color of the navbar */
    padding: 20px; /* Add some padding for better appearance */
    height: 100vh; /* Set the height to 100% of the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Align items vertically */
  }
  
  .myConsultations-customer-pages {
    flex: 1; /* Allow the content to take up the remaining space */
    padding: 20px; /* Add padding for better appearance */
  }
  