/* Style your table as needed */
/* table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ffffff;
  }
  
  .acceptButton {
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .acceptButton:hover {
    background-color: #45a049;
  }

  .rejectButton {
    padding: 8px 16px;
    background-color: #ea3939;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .rejectButton:hover {
    background-color: #df0404;
  } */



  /* Existing CSS */
.staffNewOrders-table {
  width: 100%;
  border-collapse: collapse;
}

.staffNewOrders-th,
.staffNewOrders-td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.staffNewOrders-tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Accept Button */
.staffNewOrders-acceptButton {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.staffNewOrders-acceptButton:hover {
  background-color: #45a049;
}

/* Reject Button */
.staffNewOrders-rejectButton {
  padding: 8px 16px;
  background-color: #ea3939;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.staffNewOrders-rejectButton:hover {
  background-color: #df0404;
}
