

.User-searching-card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5rem;
  margin-top: 2rem;
  z-index: -2;
  
}

.User-searching-card {
  margin: 20px;
  border: 2px solid #ededed;
  padding: 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 200px; /* Set a fixed width for each card */
  height: 300px; /* Set a fixed height for each card */
  overflow: hidden; /* Hide overflow content */
}

.User-searching-card-details {
  padding: 10px; /* Add padding for better spacing */
  border-radius: 5px; /* Add border radius for rounded corners */
}

.User-searching-card-img {
  width: 70%; /* Set a fixed width for the image */
  height: 70%; /* Maintain aspect ratio */
}

.User-searching-card-title1 {
  margin-bottom: 1rem;
  font-size: 16px;
  color: inherit;
  
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis (...) for overflow text */
}

.User-searching-card-title1 h3{
  text-decoration: none;
}
.User-searching-card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  
}

.User-searching-add-to-cart-button1 {
  background-color: #129a10; /* Set background color */
  color: #fff; /* Set text color */
  border-radius: 5px;
  font-size: 16px;
}

.User-searching-add-to-cart-button1:hover {
  background-color: #095a07; /* Change background color on hover */
}

.productCard-img-inventory{
  width: 150px;
  height: 150px;
}




























.seller-product-list-centered-container {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.seller-product-list-container {
  padding: 20px;
}

.seller-product-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seller-product-list-searchBar {
  width: 500px; /* Adjust width as needed */
}

.seller-product-list-container .categories-container {
  margin-bottom: 20px; /* Add margin bottom to create space */
}

.seller-product-list-container .categories-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.seller-product-list-container .categories-container ul li {
  display: inline;
}

.seller-product-list-container .categories-container ul li button {
  background-color: #33333324;
  border: 1px;
  border-radius: 30px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #333; /* Adjust color as needed */
}

.seller-product-list-container .categories-container ul li button:hover {
  opacity: 0.75;
}

.seller-product-list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 800px; /* Limiting the maximum width to prevent too many products in a row */
  margin: 0 auto; /* Centering the grid */
}

@media (min-width: 768px) {
  .seller-product-list-grid {
    grid-template-columns: repeat(
      3,
      1fr
    ); /* Displaying maximum four products per row on larger screens */
    max-width: none; /* Resetting the maximum width */
  }
}



.customer-product-list-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 20px 10px 20px 10px;
  cursor: pointer;
  width: 280px;
  transition: 0.3s;
}



.customer-product-list-image {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
}

.customer-product-list-details {
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.customer-product-list-info1 {
  display: flex;
  flex-direction: row;
}

.customer-product-list-info2 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
}

.customer-product-list-price {
  font-size: 16px;
  font-weight: 500;
  color: #0c3d04;
}

.customer-product-list-id {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

.customer-product-list-name {
  font-family: 'Poppins', sans-serif; /* Add this line */
  font-size: 16px; /* Decrease font size */
  font-weight: 600;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%; /* Specify width */
}


.customer-product-list-description {
  font-size: 14px;
  margin-bottom: 8px;
  white-space: nowrap;
  color: #888787;
}

.customer-product-list-description span{
  color: #000;
}

.customer-product-list-add-to-cart-button-container{
  display: flex;
}

.customer-product-list-add-to-cart-button {
  white-space: nowrap;
  color: rgb(2, 56, 2);
  background-color: #fff;
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  border: 2px solid #6c757d;
}

.customer-product-list-add-to-cart-button:hover{
  background-color: #063d08;
  color: #fff;
  border: 2px solid #ffffff;
}

.customer-product-list-add-to-cart-cart-button{
  width: 50%;
  text-align: right;
}

.customer-product-list-add-to-cart-cart-button img{
  transition: transform 0.3s ease; /* Smooth transition for scaling */
  display: inline-block;
}

.customer-product-list-add-to-cart-cart-button img:hover {
  transform: scale(1.2); /* Scale the image to 120% of its original size */
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #ddd;
  border: none;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #285b1f;
  color: white;
}
