.products-user-searching-sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.customer-product-list-category-filter, .customer-product-list-price-filter {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.filter-title {
  font-size: 1.2em;
  margin-bottom: 10px;
}
