.products-userSearchingsidebar {
  width: 225px;
  position: fixed;
  height: 100vh; /* Set height to 100% of viewport height */
  left: 0; /* Align to the left of the viewport */
  bottom: 0; /* Align to the bottom of the viewport */
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #369413; /* Optional: Add background color */
  padding-top: 20px; /* Optional: Add padding to the top */
}

.products-userSearchingsidebarcontents{
  margin-top: 100px;
}