/* .gift-dashboard-container{
    position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}

.giftPackage-staff-giftPackageManage-btn {
    width: 20%;
    padding:12px;
    font-size: 17px;
    background: #AAA47F;
    color:#fff;
    margin: 10px;
    cursor: pointer;
    border-radius: 30px;
} */

.giftPackage-staff-content{
    position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}