.UD_title {
  text-align: center;
  color: #2A3C24;
}

.UD_title_card{
  padding: 50px;
  background-color: #CAD593;
  margin-bottom: 30px;
}

.UD_UL {
  list-style-type: none;
  padding: 20px;
}

.UD_containor {
  padding: 20px;
  margin: 20px auto; /* Center the container horizontally */
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);

}

.UD_complaintsName {
  font-size: 20px;
  margin-bottom: 10px;
}

.UD_email,
.UD_descreiption,
.UD_status {
  margin-bottom: 5px;
  margin-left: 10px;
}

.UD_DTContainor {
  display: flex;
  justify-content: space-between;
}

.UD_date {
  margin-right: 10px;
}

.CUS_btnDel {
  padding: 5px 10px;
  background-color: #143109;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 70px;
  height: 40px;
}

.CUS_btnDel:hover {
  background-color: #1fe630;
  color: black;
}
