.user-searching-container {
    display: flex;
  }
  
  .User-searching-sidebar {
    width: 250px; /* Width of the sidebar */
    background-color: white; /* Sidebar background color */
    padding: 10px; /* Add padding for spacing */
  }
  
  .user-searching-content {
    flex: 1; /* Take remaining space */
    padding: 20px; /* Add padding for spacing */
  }
  