.price-container {
  margin-bottom: 20px;
}

.price-heading {
  margin-bottom: 10px;
}

.price-option {
  margin-bottom: 5px;
}

.price-option input[type="radio"] {
  margin-right: 5px;
}

.price-option label {
  cursor: pointer;
}


.price-option input[type="radio"]:checked + label {
  font-weight: bold;
  color: #022002; 
}


