.price-container {
  
  display: flex;
  flex-direction: column;
}

.price-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.price-option input {
  margin-right: 10px;
}

.price-heading {
  margin-bottom: 10px;
}


.price-option input[type="radio"]:checked + label {
  font-weight: bold;
  color: #022002; 
}


