
.bg{
    background-image: url('./photos/portalbg.png');
    background-size:cover; 
    height:100vh;
    display: flex;
}
.portal{    
    text-align: center;        
}

.royal{
    margin-top: 90px;
    font-family: 'Calibri';
    font-style: normal;    
    font-size: 70px;
    line-height: 22px;    
    letter-spacing: 0.005em;
    color: #0048AE;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slogan{
    margin-top: -50px;
    font-family: 'Iceland';
    font-style: normal;    
    font-size: 25px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.introtext{    
    margin-top: 50px;
    margin-right: 300px;
    margin-left: 300px;
    font-family: 'Kavivanar';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.joinbtn{
    width: 200px;
    margin-top: 15px;
    margin-left: 50px;
    padding: 10px;    
    font-size: 25px;
    font-family: 'Calibri';
    font-style: bold;  
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #005a8d;
    color: white;
    border: none;
    cursor: pointer;
}

.joinbtn:hover {
    background-color: #004171;
}

.teacher{
    position: absolute;
    width: 163px;    
    right: 50px;
    top: 630px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: #ffffff;
    text-shadow: 0px 8px 8px rgba(0, 0, 0, 100), 0px 8px 8px rgba(0, 0, 0, 100);
}
