/* PendingSellerRequests.css */

.pending-seller-requests-container {
    margin-top: 5%;
}

.pending-seller-requests-table {
    width: 100%;
    border-collapse: collapse;
}

.pending-seller-requests-table th,
.pending-seller-requests-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.pending-seller-requests-table th {
    background-color: #f2f2f2;
}

.pending-seller-requests-table td {
    background-color: #fff;
}

.pending-seller-requests-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.pending-seller-requests-table tr:hover {
    background-color: #ddd;
}

.approve-btn,
.reject-btn {
    padding: 8px 16px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
}

.approve-btn {
    background-color: #4CAF50;
    color: white;
}

.reject-btn {
    background-color: #f44336;
    color: white;
}



.details-row {
    background-color: #f9f9f9;
}

.seller-details {
    padding: 10px;
}

/* Hide the seller details by default */
.details-row .seller-details {
    display: none;
}

/* Show the seller details when the row is open */
.details-row.open .seller-details {
    display: block;
}